/*GLOBAL STYLE*/
* {
	margin:0;
	box-sizing: border-box;
}

@font-face {
	font-family: Ampersand;
	src: local('Baskerville'),
		 local('Garamond');
	unicode-range: U+26;
}

/*BODY STYLE */
body {
	font-family: Ampersand, 'PT Sans', sans-serif;
	background-color: #202C39;
}

body > h1 {
	margin:.5em;
	text-transform: uppercase;

	color:white;
}

body > section {
		display: grid;
		grid-gap: .5em;
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr) ) ;
		width: 100vw;
  		height: 100vh;
  		grid-auto-flow: dense;
  		
  		color: #444;
  		background-color: #202C39;
 }

/*body main {
	display: grid;
	grid-template-columns: 33% 33% 33%;
}

body > main section {
	border-radius: 4px;
	width: 100%;
	grid-column-start: 2;
	grid-column-end: 2;
	margin-top:3em;

	background-color: white;
}*/

/*NAVIGATION STYLE*/
figure > h2 {
	text-align: center;
	filter: blur(.08em) opacity(.5);
}

section > a {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	text-transform: uppercase;
	
	transition: all .3s;
	

	color:white;	
}

section > a:focus,
section > a:hover {
	z-index:300;
	outline:none;
	border: solid .2em;
	transform: scale(1.06);	
}

section > a:focus figure > h2,
section > a:hover figure > h2 {
	filter:none;
}

section > a:nth-child(1) {
	background-color: cadetblue;
	grid-column: auto / span 2;
}

section > a:nth-child(2) {
	background-color: crimson;
	grid-column: auto / span 1;
}

section > a:nth-child(3) {
	background-color: deepskyblue;
	grid-column: auto / span 2;
}

section > a:nth-child(4) {
	background-color: goldenrod;
	grid-column: auto / span 1;
}

section > a:nth-child(5) {
	background-color: silver;
}

section > a:nth-child(6) {
	background-color: navy;
}

section > a:nth-child(7) {
	background-color: coral;
}

section > a:nth-child(8) {
	background-color: gold;
}

body > main > section {
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 1em;
	transform: translate(-50%, -50%);
/*	text-align: center;*/
	
	background: #655;
	color: white;
	
}

main section > form {
	display: flex;
	flex-direction: column;
/*	align-items: center;
	justify-content: center;*/
}

main section {
	border-radius: 4px;
}

section > form label:nth-child(odd) {
	text-transform: uppercase;
	color: cadetblue;
}

body > main > figure {
	max-width: 100%;
	margin: 0;
	padding: 10px;
	border: 1px solid silver;
}

body > main > figure > img {
	max-width: inherit;
}















