<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width" name="viewport">
	<title>Living Styleguide</title>
	<link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet">
	<link href="../styles.css" rel="stylesheet">
</head>
<body>
	<h1>log in</h1>
	<main>
		<section>
			<form action="/" method="post">
				
				<label for="field-email">Email</label> 
				<input autocomplete="email" autofocus="" id="field-email" name="field-email" required="" type="email"> 
				<label for="field-password">Password</label> 
				<input id="field-password" name="field-password" required="" type="password"> 
				<input id="field-stay-logged-in" name="field-stay-logged-in" type="checkbox" value="stay-logged-in"> 
				<label for="field-stay-logged-in">Stay logged in</label> 
				<a href="/">Forgot password</a> 
				<button type="submit">Login</button>
			</form>
		</section>
	</main>
</body>
</html>